// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.address,
.distance {
  display: inline-block;
}

form {
  input.time {
    width: 6em;
  }

  .special {
    border: 1px solid;
    margin-top: 1em;
    padding: 1em;

    .field {
      margin-bottom: 1em;
    }

    .special-details {
      width: 100%;
    }
  }

  .actions {
    margin-top: 1em;
  }
}
